name: CI
on: [push, pull_request]
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry
        run: |
          python -m pip install poetry==1.3.2
      - name: Set Poetry config
        run: |
          python -m poetry config virtualenvs.in-project true
      - name: Cache Poetry virtualenv
        uses: actions/cache@v5
        id: cache
        with:
          path: ./.venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}-${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m poetry install
        if: steps.cache.outputs.cache-hit != 'true'
      - name: Test with pytest
        run: python -m poetry run pytest --cov -n 2 --cov-report xml --cov-report term-missing
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          env_vars: PYTHON