---
name: Publish to PyPI

'on':
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pyregrws
    permissions:
      # IMPORTANT: mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install poetry
        run: |
          python -m pip install poetry

      - name: Build package
        run: |
          python -m poetry build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
